/*
Color Palette:
background color:  #865439
font color:        #C68B59
secondary color:   #FCDEC0
tertiary color:    #8FC1D4
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

html {
    font-size: 62.5%;     /* Default font size is 16px - 62.5% of 16 is 10px -
                            1 rem (relative unit) now will be equivalent to 10px} */
}

header {
    margin: 0 40rem;
    letter-spacing: 0.4rem;
    text-align: center;
    border-bottom:  8px solid #8FC1D4;
    border-right: 8px solid #8FC1D4;
    border-left: 8px solid #8FC1D4;
    padding: 0.5rem;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 4rem;
}

body {
    background-color: #865439;
    color: #C68B59;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    border-top:;
    border-right:;
    border-left:;
    border-bottom:;
}

cite {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.imageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 4rem;
}

.imageCard img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19)
}

.imageCard a {
   text-decoration: none;
   color: #8FC1D4;
}

.cardText {
    color: #C69B7B;
    text-align: center;
    padding: 2rem;
    border-radius: 30px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19)
}

@media (min-width: 768px) {
    header {
        font-size: 1.6rem;
    }
 
    .gallery {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: wrap;
    }
    
    .imageCard {
        max-width: 28%;
    }
    
    
}

    img:hover {
        transform: scaleX(-1);
    }
    